a {{model_name}} system{{#manufacturer}} from {{manufacturer}}{{/manufacturer}}{{#DeviceSerialNumber}} with serial number {{DeviceSerialNumber}}{{/DeviceSerialNumber}}.
{{#SoftwareVersions}}The software version was {{SoftwareVersions}}.{{/SoftwareVersions}}