a {{ManufacturersModelName}} system{{#Manufacturer}} from {{Manufacturer}}{{/Manufacturer}}{{#DeviceSerialNumber}} with serial number {{DeviceSerialNumber}}{{/DeviceSerialNumber}}.
{{#SoftwareVersions}}The software version was {{SoftwareVersions}}.{{/SoftwareVersions}}