{{> institution}}

{{> mri_scanner_info}}

{{> task_nbruns_suffix}} {{> mri_sequence_description }} fMRI data were collected.

The acquisiton parameters were: {{ nb_slices }} slices acquired in a {{ so_str }} fashion; {{> common_mri_parameters}}
echo time, TE= {{ echo_time }} ms; flip angle, multiband factor= {{ mb_str }};
in-plane acceleration factor= {{ pr_str }}; {{> image_size}}

Each run was {{ duration }} minutes in length, during which {{ nb_vols }} functional volumes were acquired.

{{> task}}
