{{> institution}}

{{> mri_scanner_info}}

{{> mri_sequence_description}} {{suffix}} structural MRI data were collected 
({{nb_slices}} slices; {{> common_mri_parameters}} echo time, TE= {{EchoTime}} ms; 
{{> image_size}}).
