{{> institution}}
{{> mri_scanner_info}}
{{ nb_runs }} of {{scan_type}} {{> mri_sequence_description}} {{ multi_echo }} structural MRI data were collected ({{> common_mri_parameters}} echo time, TE= {{echo_time}} ms; {{> image_size}} {{nb_slices}} slices).
