{{nb_runs}} of {{> mri_sequence_description}} diffusion-weighted-imaging ({{scan_type}}) data were collected ({{nb_slices}} slices; {{> common_mri_parameters}} echo time, TE= {{echo_time}} ms; {{> image_size}} b-values of {{ bvals }} acquired; {{ dmri_dir }} diffusion directions; {{ multiband_factor }} ).
