{{> institution}}

{{> mri_scanner_info}}

A {{> mri_sequence_description}} field map
(phase encoding: {{PhaseEncodingDirection}}; {{nb_slices}} slices; {{> common_mri_parameters}}
echo time 1 / 2, TE 1/2= {{echo_time}} ms; {{> image_size}}) was acquired.
