{{> institution}}
{{> mri_scanner_info}}
For the {{ task_name }} task {{ nb_runs }} run(s) of {{ scan_type }} {{> mri_sequence_description }} fMRI data were collected. The acquisiton parameters were: {{ nb_slices }} slices acquired in a {{ so_str }} fashion;
{{> common_mri_parameters}} echo time, TE= {{ echo_time }} ms; {{ multiband_factor }}; in-plane acceleration factor= {{ pr_str }}; {{> image_size}}
Each run was {{ duration }} minutes in length, during which {{ nb_vols }} functional volumes were acquired.
{{> task}}
