{{!
Implemetation detail:
If none of those metadata are available, this should not be rendered.
}}
The data acquisition was performed in the {{InstitutionName}}{{#InstitutionalDepartmentName}}, {{InstitutionalDepartmentName}}{{/InstitutionalDepartmentName}}{{#InstitutionAddress}}, {{InstitutionAddress}}{{/InstitutionAddress}}.
