
The data acquisition was performed in the {{InstitutionName}}{{#InstitutionalDepartmentName}}, {{InstitutionalDepartmentName}}{{/InstitutionalDepartmentName}}{{#InstitutionAddress}}, {{InstitutionAddress}}{{/InstitutionAddress}}.
