{{> institution}}
{{> pet_info}}

The imaging was done using {{TracerRadionuclide}} labelled {{TracerName}} admnistered by {{ModeOfAdministration}} (injected radioactivity: {{InjectedRadioactivity}} {{InjectedRadioactivityUnits}})

The acquisition parameters were: {{>image_size}}
